.inline-block {
	display: inline-block;
	vertical-align: top;
		
	
}
.img-block {
	width: 22%	
}
.img-round
{
	border-radius: 60%;
	height : 250px;
	width: 100%;
}

.mid-block
{
	width : 45%;
	height : 250px;
	/*padding-left: 25%;*/
	

}

.right-block
{
	width: 22%;

	height : 250px;
	padding-top : 15px;
	
}

.left-panel
{
	width : 30%;
	font-size : 20px;
	color : orange;
}

.right-panel
{
	width: 65%;
	font-family : Book Antiqua;
}

.heading-size
{
	font-size: 18px;
	color: olive;
	font-weight:  bold;
}

.content-size
{
	font-size: 15px;
	
}

